* {
  color: black;
}
* {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.button__sizepicker-form {
  border-radius: 20px;
  border: none;
  width: 180px;
  height: 35px;
}

.button__sizepicker-color {
  color: #ffffff;
  background-color: #ff4800;
  font-weight: 700;
}

